/* Hero styling  */

.wp-block-create-block-hero.about-hero .wp-block-cover {
  min-height: 223px;
}

.wp-block-create-block-hero.about-hero h1 {
  align-self: flex-start;
  width: fit-content;
  background-image: url("../images/title-background.png");
  background-position: left 50% top 50%;
  background-repeat: no-repeat;
  padding: 1.6rem;
  background-size: 210px 75px;
  margin: 1rem calc(-1.6rem + 1.25rem) 0rem calc(-1.6rem + 1.25rem);
}

@media (max-width: 280px) {
  .wp-block-create-block-hero.about-hero h1 {
    padding: 1rem;
    background-size: 150px 75px;
    margin: 1rem calc(-1rem + 1.25rem) 0rem calc(-1rem + 1.25rem);
  }
}

.wp-block-create-block-hero.about-hero p.intro {
  max-width: 840px;
  text-align: start;
  padding: 0 1.25rem;
}

/* Start styling for about waldorf block under hero  */
div.wp-block-group.about-waldorf {
  margin-top: 4.375rem;
  width: 100%;
  max-width: 932px;
}

div.wp-block-group.about-waldorf article {
  margin-bottom: 4.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.wp-block-group.about-waldorf article figure,
div.wp-block-group.waldorf-party .wp-block-group.party-grid article figure {
  width: 100%;
  height: 225px;
  max-width: 435px;
}

div.wp-block-group.about-waldorf article figure img,
div.wp-block-group.waldorf-party .wp-block-group.party-grid article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.wp-block-group.about-waldorf article h2,
div.wp-block-group.waldorf-party article h3,
div.wp-block-group.waldorf-party article h2,
div.wp-block-group.school-kitchen h2 {
  padding: 0 1.25rem;
  margin-bottom: 1rem;
}

div.wp-block-group.about-waldorf article h2,
div.wp-block-group.waldorf-party article h2,
div.wp-block-group.school-kitchen h2 {
  line-height: 2.188rem;
}
div.wp-block-group.waldorf-party article h3 {
  line-height: 1.75rem;
}

div.wp-block-group.about-waldorf article p,
div.wp-block-group.waldorf-party article p {
  max-width: 435px;
}
div.wp-block-group.about-waldorf article p,
div.wp-block-group.waldorf-party article p,
div.wp-block-group.school-kitchen p {
  padding: 0 1.25rem;
}

div.wp-block-group.about-waldorf article .wp-block-buttons {
  margin: 0;
}
div.wp-block-group.about-waldorf
  article
  .wp-block-buttons
  .wp-block-button
  a.wp-block-button__link {
  margin: 0;
  margin-top: 2.875rem;
  width: 100%;
  font-weight: 500;
  transition: ease 0.1s;
}

div.wp-block-group.about-waldorf
  article
  .wp-block-buttons
  .wp-block-button
  a.wp-block-button__link:hover {
  background-color: #cfc8f9 !important;
}

/* Start styling for fest och högtider  */
div.wp-block-group.waldorf-party {
  width: 100%;
  max-width: 932px;
}

div.wp-block-group.waldorf-party article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.375rem;
}

div.wp-block-group.waldorf-party article figure,
div.wp-block-group.about-waldorf article figure {
  margin-bottom: 1.5rem;
}

div.wp-block-group.waldorf-party
  article.parties-and-celebrations-article
  figure {
  max-width: 265px;
  height: 265px;
  width: 100%;
  margin-bottom: 4.375rem;
}
div.wp-block-group.waldorf-party
  article.parties-and-celebrations-article
  figure
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Start styling for school kitchen */
div.wp-block-group.school-kitchen {
  width: 100%;
  max-width: 932px;
}
div.wp-block-group.school-kitchen p {
  margin-bottom: 4.37rem;
}

div.wp-block-group.school-kitchen figure {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 225px;
  max-width: 100%;
}

div.wp-block-group.school-kitchen figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px/* 767px */) {
  /* Styling hero block  */

  .wp-block-create-block-hero.about-hero .wp-block-cover {
    min-height: 482px;
  }

  /* Start styling for about waldorf block under hero  */
  div.wp-block-group.about-waldorf article h2,
  div.wp-block-group.about-waldorf article p,
  div.wp-block-group.waldorf-party article h3,
  div.wp-block-group.waldorf-party article h2,
  div.wp-block-group.waldorf-party article p,
  div.wp-block-group.school-kitchen h2,
  div.wp-block-group.school-kitchen p {
    padding: 0;
  }

  /* Start styling for fest och högtider  */

  div.wp-block-group.waldorf-party .wp-block-group.party-grid,
  div.wp-block-group.waldorf-party article.parties-and-celebrations-article,
  div.wp-block-group.about-waldorf article,
  div.wp-block-group.school-kitchen {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  div.wp-block-group.about-waldorf article figure,
  div.wp-block-group.waldorf-party .wp-block-group.party-grid article figure,
  div.wp-block-group.school-kitchen figure {
    border-radius: 2px;
  }

  div.wp-block-group.school-kitchen figure {
    height: 401px;
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 800px/* 767px */) {
  /* Styling hero block  */

  .wp-block-create-block-hero.about-hero h1 {
    background-size: 230px 75px;
    margin-top: calc(2.875rem - 1.6rem);
    align-self: center;
  }
  .wp-block-create-block-hero.about-hero p.intro {
    padding: 0;
  }

  /* Start styling for about waldorf block under hero  */
  div.wp-block-group.about-waldorf {
    margin-top: 10.875rem;
  }
  div.wp-block-group.about-waldorf article {
    margin-bottom: 8.75rem;
  }
  div.wp-block-group.about-waldorf article h2,
  div.wp-block-group.waldorf-party article h3,
  div.wp-block-group.school-kitchen h2 {
    margin-top: 0;
    margin-bottom: 1.188rem;
  }

  div.wp-block-group.about-waldorf article figure {
    margin-right: 2.563rem;
    margin-bottom: 0;
  }
  div.wp-block-group.about-waldorf article figure,
  div.wp-block-group.waldorf-party .wp-block-group.party-grid article figure {
    height: 261px;
  }

  div.wp-block-group.about-waldorf article:nth-of-type(2) figure {
    margin-right: 0;
    margin-left: 2.563rem;
  }

  div.wp-block-group.about-waldorf article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  div.wp-block-group.about-waldorf article:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  /* Start styling for fest och högtider  */

  div.wp-block-group.waldorf-party .wp-block-group.party-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.875rem;
    width: 100%;
  }
  div.wp-block-group.waldorf-party .wp-block-group.party-grid article {
    width: 100%;
  }

  div.wp-block-group.waldorf-party article.parties-and-celebrations-article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12.5rem;
  }
  div.wp-block-group.waldorf-party
    article.parties-and-celebrations-article
    figure {
    max-width: 457px;
    height: 457px;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-left: 2.438rem;
  }

  div.wp-block-group.waldorf-party
    article.parties-and-celebrations-article
    figure
    img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* Start styling for school kitchen */
  div.wp-block-group.school-kitchen {
    margin-top: 8.125rem;
  }

  div.wp-block-group.school-kitchen p {
    margin-bottom: 2.875rem;
  }

  div.wp-block-group.school-kitchen p:last-of-type {
    margin-bottom: 0;
  }
  div.wp-block-group.school-kitchen figure {
    margin-bottom: 2.875rem;
  }
  div.wp-block-group.school-kitchen figure img {
    object-position: 50% 20%;
  }
}

@media (min-width: 1000px) {
  div.wp-block-group.waldorf-party .wp-block-group.party-grid,
  div.wp-block-group.waldorf-party article.parties-and-celebrations-article,
  div.wp-block-group.about-waldorf article,
  div.wp-block-group.school-kitchen {
    padding-right: 0;
    padding-left: 0;
  }
}
