main {
  background-color: white;
}

section {
  width: 100%;
  max-width: 768px;
  padding: 0rem 1rem;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 84px;
  background-color: white;
  flex-grow: 1;
  height: 100%;
}

h1 {
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 28px;
}

h2 {
  font-size: 25px;
  margin-bottom: 23px;
  font-weight: bold;
}

.wp-block-buttons {
  justify-content: center;
}

.wp-block-button__link {
  margin: 44px 0px;
  padding: 1rem 2.5rem;
  width: 180px;
}

.bigText {
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: center;
    align-items: center;
  }
  .smallText {
    display: none;
  }

  .bigText {
    display: flex;
  }
  .wp-block-buttons {
    justify-content: start;
  }
}
