main {
  background-color: white;
  height: 100%;
  min-height: 90vh;
}

section {
  max-width: 768px;
  padding: 1.8rem 1rem;
  padding-bottom: 84px;
  background-color: white;
  flex-grow: 1;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1 {
  margin-bottom: 28px;
}

h2 {
  margin-bottom: 23px;
}

.wp-block-buttons {
  justify-content: center;
}

.wp-block-button__link {
  margin: 44px 0px;
  padding: 1rem 2.5rem;
  width: 180px;
}

.bigText {
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: center;
    align-items: center;
  }
  .smallText {
    display: none;
  }

  .bigText {
    display: flex;
  }
  .wp-block-buttons {
    justify-content: start;
    margin: 4rem 0rem;
  }
}
