main {
  background-color: white;
  height: 100%;
  min-height: 90vh;
}

section.apply-page {
  padding-bottom: 0;
}

section {
  margin-top: 8rem;
  max-width: 768px;
  padding: 0 1rem;
  /* padding-bottom: 84px; */
  background-color: white;
  flex-grow: 1;
  line-height: 140%;
  display: flex;
  flex-direction: column;
}

section.apply-page .applyContainer .applyText h1 {
  margin-bottom: 28px;
  width: fit-content;
  background-image: url('../images/title-background.png');
  background-position: left 50% top 50%;
  background-repeat: no-repeat;
  background-size: 135px 70px;
  padding: 1.5rem;
  margin: -1.5rem -1.5rem 0.25rem -1.5rem;
}

h2 {
  margin-bottom: 23px;
}

.wp-block-buttons {
  justify-content: center;
}

.wp-block-button__link {
  margin: 44px 0px;
  padding: 1rem 2.5rem;
  width: 180px;
}

.applyBtn a {
  transition: ease 0.1s;
  font-weight: 500;
  background: #ddd8fa;
  color: black !important;
}

.applyBtn a:hover {
  background-color: #cfc8f9 !important;
}

.applyText {
  height: 100%;
  z-index: 10;
  position: relative;
}

.bgImage img {
  width: 768px;
  margin-left: -4rem;
  display: none;
}

.bgImage {
  z-index: 1;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  section.apply-page .applyContainer .applyText h1 {
    background-image: none;
  }
  main {
    justify-content: center;
    align-items: center;
  }
  .wp-block-buttons {
    justify-content: start;
    margin: 4rem 0rem;
  }

  .applyText {
    margin-top: 2rem;
  }

  .bgImage img {
    display: inline;
  }
}
