.contact-page {
  width: 100%;
  max-width: 932px;
  margin-top: 2.875rem;
  padding-top: 0;
  padding-bottom: 0;
}

.contact-page .heading-map {
  margin-bottom: 1.625;
}

.contact-page .heading-work {
  margin-bottom: 1.4rem;
  line-height: 2rem;
}

.contact-page .wp-block-columns:first-child {
  max-width: 932px;
}

.contact-page .wp-block-column > * {
  max-width: 337px;
}

.contact-page .wp-block-columns .contact-right-column,
.contact-left-column {
  width: 337px;
}

.contact-page .wp-block-columns .contact-left-column {
  margin-bottom: 4.375rem;
}

.contact-page
  .wp-block-columns
  .contact-left-column
  .wp-block-create-block-contact-block:not(:last-child) {
  margin-bottom: 2.875rem;
}

.map-wrapper iframe.map {
  width: 100%;
  height: 265px;
  border-radius: 2px;
}

.contact-adress {
  margin-bottom: 1.5rem;
}

.contact-page .wp-block-columns .contact-right-column .bus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.875rem;
  margin-bottom: 4.938rem;
}

.contact-page .wp-block-columns .contact-right-column .bus-wrapper figure {
  margin-bottom: 0;
  width: 40px;
  height: 45px;
  margin-right: 1.5rem;
}

.contact-page .wp-block-columns .contact-right-column .bus-wrapper figure img {
  object-fit: contain;
}

.contact-image {
  width: 100%;
  height: 169px;
  margin-bottom: 0;
  border-radius: 2px;
}

.contact-image img {
  object-fit: cover;
  object-position: center 40%;
  width: inherit;
  height: inherit;
}

.contact-page h1 {
  margin-bottom: 2.875rem;
}

@media (max-width: 290px) {
  .contact-page h1.background-heading.wp-block-post-title {
    background-size: 150px 75px;
  }
}

.contact-page .background-heading {
  width: fit-content;
  background-image: url("../images/title-background.png");
  background-position: left 50% top 50%;
  background-repeat: no-repeat;
}

.contact-page h1.background-heading {
  background-size: 170.42px 75px;
  padding: 1.5rem 1.3rem;
  margin: -1.5rem -1.3rem calc(2.5rem - 1.5rem) -1.3rem;
}

.contact-work-wrapper .wp-block-create-block-contact-block {
  margin-top: 1rem;
}

@media (min-width: 782px) {
  .contact-page {
    margin-top: 8rem;
  }
  .contact-page .wp-block-columns:first-child {
    margin-bottom: 7rem;
  }
  .contact-page .heading-map {
    margin-bottom: 2.688rem;
    line-height: 1.912rem;
  }

  .contact-page h1.background-heading {
    line-height: 2.406rem;
    background-size: 194.42px 75px;
    padding: 1.5rem 1.3rem;
    margin: -1.5rem -1.3rem calc(2.875rem - 1.5rem) -1.3rem;
  }

  .contact-page .wp-block-columns .contact-left-column {
    margin-bottom: 0;
  }

  .contact-work-wrapper {
    max-width: 337px;
    overflow: hidden;
    position: relative;
    right: -10.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/contact-work-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    padding-top: 6rem;
    margin-top: -6rem;
    padding-bottom: 6rem;
    padding-right: 18rem;
    margin-right: 0;
    padding-left: 18rem;
    margin-left: -18rem;
  }

  .contact-work-wrapper > * {
    width: 337px;
  }

  .contact-work-wrapper .wp-block-create-block-contact-block {
    margin-top: 1.6rem;
  }
  .contact-page .wp-block-columns .contact-right-column .bus-wrapper {
    margin-bottom: 10rem;
  }
}

@media (min-width: 500px) {
  .contact-image {
    height: 433px;
  }
}

@media (min-width: 1000px) {
  .contact-page .contact-right-column {
    margin-left: 217px;
  }
}
