footer {
  background: #efecfd;
  padding: 3rem 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 70px;
}

ul {
  list-style: none;
}

.links ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: center;
}

.links ul li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-size: 18px;
}

.socials {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.footerAdress {
  text-align: center;
}

.adressHeading {
  font-weight: bold;
  font-family: 'Bitter', serif;
}

@media only screen and (min-width: 768px) {
  footer {
    justify-content: center;
    gap: 9rem;
    flex-direction: row;
    margin-top: 200px;
  }

  .adressHeading {
    margin-bottom: 8px;
  }

  .links ul {
    text-align: left;
  }

  .socials {
    flex-direction: column;
  }

  .footerAdress {
    text-align: left;
  }
}
